.search {
}
.home {
  grid-template-rows: 200px 1fr;
}
.header-tag {
  line-height: 60px;
}

.home input {
  border-radius: 2rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.home input:focus {
  outline: none;
}
.home button {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
